testbed_config = {}

testbed_config['sm_node,ip'] = "10.87.140.230"
testbed_config['sm_node,login'] = "root"
testbed_config['sm_node,password'] = "n1keenA"

testbed_config['regression,ip'] = '10.87.129.2'
testbed_config['regression,login'] = 'root'
testbed_config['regression,password'] = 'n1keenA'

testbed_config['node1,host_name']  = 'cmbu-ceph-perf1'
testbed_config['node1,ip']         = '10.87.140.197'
testbed_config['node1,data_link,ip']   = '5.0.0.1'
testbed_config['cmbu-ceph-perf1,node_name']  = 'node1'
testbed_config['cmbu-ceph-perf1.englab.juniper.net,node_name']  = 'node1'
testbed_config['node1,login']      = 'root'
testbed_config['node1,password']   = 'n1keenA'
testbed_config['node1,prompt']     = 'root@cmbu-ceph-perf1:'
testbed_config['node1,data_link,mac'] ='90:e2:ba:2b:53:5d'

testbed_config['node2,host_name']  = 'cmbu-ceph-perf2'
testbed_config['node2,ip']         = '10.87.140.198'
testbed_config['node2,data_link,ip']   = '5.0.0.2'
testbed_config['cmbu-ceph-perf2,node_name']  = 'node2'
testbed_config['cmbu-ceph-perf2.englab.juniper.net,node_name']  = 'node2'
testbed_config['node2,login']      = 'root'
testbed_config['node2,password']   = 'n1keenA'
testbed_config['node2,prompt']     = 'root@cmbu-ceph-perf2:'
testbed_config['node2,data_link,mac'] = '90:e2:ba:1c:be:69'

testbed_config['node3,host_name']  = 'cmbu-ceph-perf3'
testbed_config['node3,ip']         = '10.87.140.199'
testbed_config['node3,data_link,ip']   = '5.0.0.3'
testbed_config['cmbu-ceph-perf3,node_name']  = 'node3'
testbed_config['cmbu-ceph-perf3.englab.juniper.net,node_name']  = 'node3'
testbed_config['node3,login']      = 'root'
testbed_config['node3,password']   = 'n1keenA'
testbed_config['node3,prompt']     = 'root@cmbu-ceph-perf3:'
testbed_config['node3,data_link,mac'] = '90:e2:ba:1c:c0:ad'

testbed_config['node4,host_name']  = 'cmbu-ceph-perf4'
testbed_config['node4,ip']         = '10.87.140.200'
testbed_config['node4,data_link,ip']   = '5.0.0.4'
testbed_config['cmbu-ceph-perf4,node_name']  = 'node1'
testbed_config['cmbu-ceph-perf4.englab.juniper.net,node_name']  = 'node4'
testbed_config['node4,login']      = 'root'
testbed_config['node4,password']   = 'n1keenA'
testbed_config['node4,prompt']     = 'root@cmbu-ceph-perf4:'
testbed_config['node4,data_link,mac'] ='90:e2:ba:1c:c4:05'


testbed_config['PROF01,hosts_list']           = ['cmbu-ceph-perf1','cmbu-ceph-perf2','cmbu-ceph-perf3','cmbu-ceph-perf4']
testbed_config['PROF01,fab_node']             = 'cmbu-ceph-perf1'
testbed_config['PROF01,cinder_volume_types']     = ['ocs-block-disk']
testbed_config['PROF01,mon_ip']     = ['5.0.0.1','5.0.0.2','5.0.0.3','5.0.0.4']
testbed_config['PROF01,osd_count']  = 12
testbed_config['PROF01,live_migration'] = True


### PROF02 - regular fab test 
testbed_config['PROF02,hosts_list']           = ['cmbu-ceph-perf1','cmbu-ceph-perf2','cmbu-ceph-perf3','cmbu-ceph-perf4']
testbed_config['PROF02,fab_node']             = 'cmbu-ceph-perf1'
testbed_config['PROF02,cinder_volume_types']     = ['ocs-block-disk']
testbed_config['PROF02,mon_ip']     = ['5.0.0.1','5.0.0.2','5.0.0.3','5.0.0.4']
testbed_config['PROF02,osd_count']  = 12
testbed_config['PROF02,live_migration'] = True

testbed_config['PROF04,hosts_list']           = ['cmbu-gravity-05','cmbu-toystory-01','cmbu-toystory-02']
testbed_config['PROF04,fab_node']             = 'cmbu-gravity-05'
testbed_config['PROF04,cinder_volume_types']  = ['ocs-block-nfs-disk','ocs-block-disk','ocs-block-ssd-disk','ocs-block-lvm-disk-cmbu-toystory-01','ocs-block-lvm-disk-cmbu-toystory-02']
testbed_config['PROF04,mon_ip']     = ['13.0.0.1','13.0.0.2','13.0.0.3']
testbed_config['PROF04,osd_count']  = 3
testbed_config['PROF04,live_migration'] = True
 
testbed_config['PROF05,hosts_list']           = ['cmbu-ceph-perf1','cmbu-ceph-perf2','cmbu-ceph-perf3','cmbu-ceph-perf4']
testbed_config['PROF05,fab_node']             = 'cmbu-ceph-perf1'
testbed_config['PROF05,cinder_volume_types']  = ['ocs-block-nfs-disk']
testbed_config['PROF05,mon_ip']     = []
testbed_config['PROF05,osd_count']  = -1
testbed_config['PROF05,live_migration'] = True

testbed_config['PROF07,hosts_list']           = ['cmbu-gravity-05','cmbu-toystory-01','cmbu-toystory-02']
testbed_config['PROF07,fab_node']             = 'cmbu-gravity-05'
testbed_config['PROF07,cinder_volume_types']  = ['ocs-block-disk']
testbed_config['PROF07,mon_ip']     = ['13.0.0.1','13.0.0.2']
testbed_config['PROF07,mon_ip,2']     = ['13.0.0.1','13.0.0.2','13.0.0.3']
testbed_config['PROF07,new_compute_storage_host_name'] = 'cmbu-toystory-02'
testbed_config['PROF07,osd_count']  = 2
testbed_config['PROF07,testbed_file2,loc']  = '../../testbeds/testbed_ceph3_prof07_02.py'
testbed_config['PROF07,osd_count,2']  = 4
testbed_config['PROF07,live_migration'] = True

testbed_config['PROF08,hosts_list']           = ['cmbu-gravity-05','cmbu-toystory-01','cmbu-toystory-02','cmbu-gravity-08']
testbed_config['PROF08,fab_node']             = 'cmbu-gravity-05'
testbed_config['PROF08,cinder_volume_types']     = ['ocs-block-disk']
testbed_config['PROF08,mon_ip']     = ['13.0.0.1','13.0.0.2','13.0.0.3','13.0.0.4']
testbed_config['PROF08,osd_count']  = 5
testbed_config['PROF08,live_migration'] = True
