testbed_config = {}

testbed_config['sm_node,ip'] = "10.87.132.105"
testbed_config['sm_node,login'] = "root"
testbed_config['sm_node,password'] = "n1keenA"

testbed_config['regression,ip'] = '10.87.129.2'
testbed_config['regression,login'] = 'root'
testbed_config['regression,password'] = 'n1keenA'

testbed_config['node1,host_name']  = 'cmbu-gravity-05'
testbed_config['node1,ip']         = '10.87.140.213'
testbed_config['node1,data_link,ip']   = '13.0.0.1'
testbed_config['cmbu-gravity-05,node_name']  = 'node1'
testbed_config['cmbu-gravity-05.englab.juniper.net,node_name']  = 'node1'
testbed_config['node1,login']      = 'root'
testbed_config['node1,password']   = 'n1keenA'
testbed_config['node1,prompt']     = 'root@cmbu-gravity-05:'
testbed_config['node1,data_link,mac'] ='00:25:90:ab:9c:79'

testbed_config['node2,host_name']  = 'cmbu-toystory-01'
testbed_config['node2,ip']         = '10.87.129.224'
testbed_config['node2,data_link,ip']   = '13.0.0.2'
testbed_config['cmbu-toystory-01,node_name']  = 'node2'
testbed_config['cmbu-toystory-01.englab.juniper.net,node_name']  = 'node2'
testbed_config['node2,login']      = 'root'
testbed_config['node2,password']   = 'n1keenA'
testbed_config['node2,prompt']     = 'root@cmbu-toystory-01:'
testbed_config['node2,data_link,mac'] = '00:25:90:92:0d:ef'

testbed_config['node3,host_name']  = 'cmbu-toystory-02'
testbed_config['node3,ip']         = '10.87.129.226'
testbed_config['node3,data_link,ip']   = '13.0.0.3'
testbed_config['cmbu-toystory-02,node_name']  = 'node3'
testbed_config['cmbu-toystory-02.englab.juniper.net,node_name']  = 'node3'
testbed_config['node3,login']      = 'root'
testbed_config['node3,password']   = 'n1keenA'
testbed_config['node3,prompt']     = 'root@cmbu-toystory-02:'
testbed_config['node3,data_link,mac'] = '00:25:90:92:0e:6f'

testbed_config['node4,host_name']  = 'cmbu-gravity-08'
testbed_config['node4,ip']         = '10.87.141.26'
testbed_config['node4,data_link,ip']   = '13.0.0.4'
testbed_config['cmbu-gravity-08,node_name']  = 'node1'
testbed_config['cmbu-gravity-08.englab.juniper.net,node_name']  = 'node4'
testbed_config['node4,login']      = 'root'
testbed_config['node4,password']   = 'n1keenA'
testbed_config['node4,prompt']     = 'root@cmbu-gravity-08:'
testbed_config['node4,data_link,mac'] ='00:25:90:7b:54:88'


testbed_config['PROF01,hosts_list']           = ['cmbu-gravity-05','cmbu-toystory-01','cmbu-toystory-02','cmbu-gravity-08']
testbed_config['PROF01,fab_node']             = 'cmbu-gravity-05'
testbed_config['PROF01,cinder_volume_types']     = ['ocs-block-disk']
testbed_config['PROF01,mon_ip']     = ['13.0.0.1','13.0.0.2','13.0.0.3','13.0.0.4']
testbed_config['PROF01,osd_count']  = 5
testbed_config['PROF01,live_migration'] = True


### PROF02 - regular fab test 
testbed_config['PROF02,hosts_list']           = ['cmbu-gravity-05','cmbu-toystory-01','cmbu-toystory-02']
testbed_config['PROF02,fab_node']             = 'cmbu-gravity-05'
testbed_config['PROF02,cinder_volume_types']     = ['ocs-block-disk']
testbed_config['PROF02,mon_ip']     = ['13.0.0.1','13.0.0.2','13.0.0.3']
testbed_config['PROF02,osd_count']  = 4
testbed_config['PROF02,live_migration'] = True

testbed_config['PROF04,hosts_list']           = ['cmbu-gravity-05','cmbu-toystory-01','cmbu-toystory-02']
testbed_config['PROF04,fab_node']             = 'cmbu-gravity-05'
testbed_config['PROF04,cinder_volume_types']  = ['ocs-block-nfs-disk','ocs-block-disk','ocs-block-ssd-disk','ocs-block-lvm-disk-cmbu-toystory-01','ocs-block-lvm-disk-cmbu-toystory-02']
testbed_config['PROF04,mon_ip']     = ['13.0.0.1','13.0.0.2','13.0.0.3']
testbed_config['PROF04,osd_count']  = 3
testbed_config['PROF04,live_migration'] = True
 
testbed_config['PROF05,hosts_list']           = ['cmbu-gravity-05','cmbu-toystory-01','cmbu-toystory-02']
testbed_config['PROF05,fab_node']             = 'cmbu-gravity-05'
testbed_config['PROF05,cinder_volume_types']  = ['ocs-block-nfs-disk']
testbed_config['PROF05,mon_ip']     = []
testbed_config['PROF05,osd_count']  = -1
testbed_config['PROF05,live_migration'] = True

testbed_config['PROF07,hosts_list']           = ['cmbu-gravity-05','cmbu-toystory-01','cmbu-toystory-02']
testbed_config['PROF07,fab_node']             = 'cmbu-gravity-05'
testbed_config['PROF07,cinder_volume_types']  = ['ocs-block-disk']
testbed_config['PROF07,mon_ip']     = ['13.0.0.1','13.0.0.2']
testbed_config['PROF07,mon_ip,2']     = ['13.0.0.1','13.0.0.2','13.0.0.3']
testbed_config['PROF07,new_compute_storage_host_name'] = 'cmbu-toystory-02'
testbed_config['PROF07,osd_count']  = 2
testbed_config['PROF07,testbed_file2,loc']  = '../../testbeds/testbed_ceph3_prof07_02.py'
testbed_config['PROF07,osd_count,2']  = 4
testbed_config['PROF07,live_migration'] = True

testbed_config['PROF08,hosts_list']           = ['cmbu-gravity-05','cmbu-toystory-01','cmbu-toystory-02','cmbu-gravity-08']
testbed_config['PROF08,fab_node']             = 'cmbu-gravity-05'
testbed_config['PROF08,cinder_volume_types']     = ['ocs-block-disk']
testbed_config['PROF08,mon_ip']     = ['13.0.0.1','13.0.0.2','13.0.0.3','13.0.0.4']
testbed_config['PROF08,osd_count']  = 5
testbed_config['PROF08,live_migration'] = True
