testbed_config = {}

testbed_config['sm_node,ip'] = "10.204.217.166"
testbed_config['sm_node,login'] = "root"
testbed_config['sm_node,password'] = "c0ntrail123"

testbed_config['regression,ip'] = '10.87.129.2'
testbed_config['regression,login'] = 'root'
testbed_config['regression,password'] = 'n1keenA'

testbed_config['node1,host_name']  = 'nodeg22'
testbed_config['node1,ip']         = '10.204.217.62'
testbed_config['node1,data_link,ip']   = '10.204.217.62'
testbed_config['nodeg22,node_name']  = 'node1'
testbed_config['nodeg22.englab.juniper.net,node_name']  = 'node1'
testbed_config['node1,login']      = 'root'
testbed_config['node1,password']   = 'c0ntrail123'
testbed_config['node1,prompt']     = 'root@nodeg22:'
testbed_config['node1,data_link,mac'] ='00:25:90:c4:7d:ee'

testbed_config['node2,host_name']  = 'nodeg23'
testbed_config['node2,ip']         = '10.204.217.63'
testbed_config['node2,data_link,ip']   = '10.204.217.63'
testbed_config['nodeg23,node_name']  = 'node2'
testbed_config['nodeg23.englab.juniper.net,node_name']  = 'node2'
testbed_config['node2,login']      = 'root'
testbed_config['node2,password']   = 'c0ntrail123'
testbed_config['node2,prompt']     = 'root@nodeg23:'
testbed_config['node2,data_link,mac'] = '00:25:90:c4:7e:02'

testbed_config['PROF01,hosts_list']           = ['nodeg22','nodeg23']
testbed_config['PROF01,fab_node']             = 'nodeg22'
testbed_config['PROF01,cinder_volume_types']     = ['ocs-block-disk']
testbed_config['PROF01,mon_ip']     = ['10.204.217.62','10.204.217.63']
testbed_config['PROF01,osd_count']  = 1
testbed_config['PROF01,live_migration'] = False

