testbed_config = {}

testbed_config['regression,ip'] = '10.87.129.2'
testbed_config['regression,login'] = 'root'
testbed_config['regression,password'] = 'n1keenA'

testbed_config['node1,host_name']  = 'cmbu-gravity-05'
testbed_config['node1,ip']         = '10.87.140.213'
testbed_config['node1,data_link,ip']   = '13.0.0.3'
testbed_config['cmbu-gravity-05,node_name']  = 'node1'
testbed_config['cmbu-gravity-05.englab.juniper.net,node_name']  = 'node1'
testbed_config['node1,login']      = 'root'
testbed_config['node1,password']   = 'n1keenA'
testbed_config['node1,prompt']     = 'root@cmbu-gravity-05:'

testbed_config['node2,host_name']  = 'cmbu-toystory-01'
testbed_config['node2,ip']         = '10.87.129.224'
testbed_config['node2,data_link,ip']   = '13.0.0.1'
testbed_config['cmbu-toystory-01,node_name']  = 'node2'
testbed_config['cmbu-toystory-01.englab.juniper.net,node_name']  = 'node2'
testbed_config['node2,login']      = 'root'
testbed_config['node2,password']   = 'n1keenA'
testbed_config['node2,prompt']     = 'root@cmbu-toystory-01:'

testbed_config['node3,host_name']  = 'cmbu-toystory-02'
testbed_config['node3,ip']         = '10.87.129.226'
testbed_config['node3,data_link,ip']   = '13.0.0.2'
testbed_config['cmbu-toystory-02,node_name']  = 'node3'
testbed_config['cmbu-toystory-02.englab.juniper.net,node_name']  = 'node3'
testbed_config['node3,login']      = 'root'
testbed_config['node3,password']   = 'n1keenA'
testbed_config['node3,prompt']     = 'root@cmbu-toystory-02:'


### PROF02 - regular fab test 
testbed_config['PROF02,hosts_list']           = ['cmbu-gravity-05','cmbu-toystory-01','cmbu-toystory-02']
testbed_config['PROF02,fab_node']             = 'cmbu-gravity-05'
testbed_config['PROF02,cinder_volume_types']     = ['ocs-block-disk']
testbed_config['PROF02,mon_ip']     = ['13.0.0.1','13.0.0.2','13.0.0.3']

testbed_config['PROF04,hosts_list']           = ['cmbu-gravity-05','cmbu-toystory-01','cmbu-toystory-02']
testbed_config['PROF04,fab_node']             = 'cmbu-gravity-05'
testbed_config['PROF04,cinder_volume_types']     = ['ocs-block-disk','ocs-block-ssd-disk','ocs-block-lvm-disk-cmbu-toystory-01','ocs-block-lvm-disk-cmbu-toystory-02']
testbed_config['PROF04,mon_ip']     = ['13.0.0.1','13.0.0.2','13.0.0.3']
 
